{% extends "layout.html" %}

{% block title %}
History
{% endblock %}

{% block main %}
<h1 class="text-start">History</h1>
<table class="table">
    <thead>
        <tr>
            <th class="text-start">Symbol</th>
            <th class="text-end">Shares</th>
            <th class="text-end">Price</th>
            <th class="text-end">Transacted</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
        <tr class="{{ 'table-success' if transaction['shares'] > 0 else 'table-danger' }}">
            <td class="text-start">{{ transaction["symbol"] }}</td>
            <td class="text-end">{{ transaction["shares"] }}</td>
            <td class="text-end">{{ transaction["price"] }}</td>
            <td class="text-end">{{ transaction["date"] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}